<h1>Weights#index</h1>
<br>
<% @weights.each_with_index do |weight, index| %>

    <%= link_to weight.date, weight_path(weight) %>
    <%= weight.amount %> 
    <% previous_weight = @weights[index-1].amount unless index == 0 %>
    <%= weight.amount - previous_weight if previous_weight%>
  <br>
<% end %>
<br>
<%= render partial: 'form' %>