<h1>Weights</h1>
<span><%= link_to "See All Weights", weights_path %></span>

<div>
Weight: <%= @weight.amount%> Kilos
</div>
<div>
Date: <%= @weight.date%>
</div>
<div>
Comment: <%= @weight.comment%>
</div>