<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>


<% if user_signed_in? %>
<%= link_to 'Weight', weights_path %>
<%= link_to 'Food', foods_path %>
<%= link_to 'Exercise', exercises_path %>
  <p>Stuff for logged in users</p>
<% else %>
  <p>Stuff for logged out users</p>
<% end %>



