<h1>Foods#index</h1>

<%= link_to "New Food", new_food_path %>

<% @foods.each do |food| %>
<div>
<p><%= food.name %></p>
 <img src="<%= food.image %>" alt=“image”>
<p><%= food.calories %> CAL</p>
  </div>
<% end %>
