<div class="container text-large">

<%= link_to "New Exercise", new_exercise_path %>

<% @exercises.each do |exercise| %>

  <div class="card padding text-large">
<p>Exercise:<%= exercise.name %></p>
<p>Minutes:<%= exercise.minute %> Min </p>
</div>
<% end %>
</div>
